.cart-bar {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  height: 40px;
  background-color: aliceblue;

  & > ul {
    display: flex;
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
  }
  ul {
    list-style: none;
  }

  li:not(:first-child) {
    padding-left: 10px;
  }
  & > ul:first-child {
    margin-right:auto;
  }

  & > ul:last-child {
    margin-left:auto;
  }

  .categories-dropdown {
    position: relative;

    ul {
      position: absolute;
      display: none;
      left: 0px;
      padding-left: 0;
      background-color: cornsilk;
      width: 16rem;

      li {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      li:hover {
        background-color: moccasin;
      }
    }
    & > div {
      display: flex;
      align-items: center;
      height: 40px;
    }

    & > div > i {
      margin-top:-2px;
    }
  }

  a {
    cursor: pointer;

  }

  .categories-dropdown:hover > ul {
    display:block
  }
}