.search-area {
  margin: auto;
  background-color: aqua ;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.search-form {
  width: 60%; 
  padding: 10px;
  display: flex;
}

.search-input {
  flex: 4;
}


/* search dropdown */
.search-dropdown {
  position: relative;
  vertical-align: middle;

}

.search-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.search-dropdown::before,
.search-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.search-dropdown::after { /*  search dropdown arrow */
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.search-dropdown::before { /*  search dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.search-dropdown select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}
.search-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.search-dropdown::after {
  color: rgba(0,0,0,.4);
}