.notification-toast {
    position: fixed;
    box-sizing: border-box;
    width: 24em;
    top: 4em;
    left: 50%;
    margin-left: -15em;
    transition: transform .6s ease-in-out;
    animation: toast-in-center .7s;
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    z-index: 10000;
}

.notification-image {
    flex: 2;    
    align-items: center;
    font-size: 3em;
    padding: 10px;
    display: flex;
}

.notification-content {
    flex: 8; 
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;   
}

.notification-button {
    flex: 1;
    cursor: pointer;
}


