:root {
  --border-width: 0.5px; 
}

.product-page {
    padding: 2em;
    display: flex;
    flex-direction: row;
    width: 80%;
    box-sizing: border-box;
    height: 60vh;
    margin: auto;

    .product-details {
      padding: 10px;
      flex: 3;
      background: azure;
      display: flex;
      flex-direction: column;

      & > * {
         margin-bottom: 10px;
      }

      h2 {
        margin-block-end:5px;
      }

      input {
        border: none;
        background: none;
        width: 2em;
        text-align: center;
      }

      input:focus {
        outline-width: 0;
      }


      .quantity-input-box {
        display:flex;
        flex-direction: row;
        align-items: center;
        border-style: groove;
        border-width: var(--border-width);
        border-left: 0px;
      }

      .quantity-text {
        border-style: groove;
        border-width: var(--border-width);
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .product-name {
        flex: 1;
      }

      .product-description {
        flex: 4;
      }

      .quantity-form {       
        display:flex;
        flex-direction: row;
        align-items: stretch;
        height: 2.5em;        

        button {
          height: 100%;
          margin-left: 5px;
        }

      }

      .up-down-buttons {
        display:flex;
        flex-direction: column;
        width: 15px;

        .top {
          flex: 1;
        }

        .down {
          flex: 1;
        }

      }


    }

    .product-image {
      flex: 2;
      background-color: cornsilk;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        width: 100%
      }
    }








}
