:root {
    --sign-out-margin-right: 10px;
    --padding-for-header: 40px
}

.site-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.navbar {
  background: aquamarine;
  color: white;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-for-header);
  padding-right: var(--padding-for-header);

  & > ul {
    display: flex;
    padding-left:0;
  }
  & > ul > li {
    list-style: none;
    margin-right: 5px;
  }

  .left-nav {
    margin-right: auto;
  }

  .right-nav {
    margin-left: auto;

    & > a:hover {
      cursor: pointer;
    }

    & > li{
      display: flex;
      position: relative;
    }

    .header-dropdown {
      visibility: hidden;
      position: absolute;
      margin-top: 1rem;
      top: 0.5rem;
      left: 0px;
      min-width: 8rem;
      list-style: none;
      padding: 5px;
      background: silver;
      transition: all 0.2s ease;
      display: block;
      a {
        cursor: pointer;
        display: block;
        padding-left:15px;
        padding-top:5px;
      }
      a:hover {
        background-color: #ddd;
      }
    }

    a:hover ~ .header-dropdown, & .header-dropdown:hover {
      visibility: visible;
    }
  }
}

.username-dropdown {
  visibility: hidden;
  position: absolute;
  top:1em;
  left:0;
}

.username:hover ~ .username-dropdown {
  visibility: visible;
}

.logo {
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.nav-options {
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
  }
  .active {
    a {
      font-weight: bold;
      color: #62DEBE;
      background: color(#62DEBE shade(40%))
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
  }
  .nav-options {
    order: 2;
    width: 100%;
  }
}

.account-actions {
  margin-left: auto;
  display: flex;
  min-width: 50px;
  position: relative;
  margin-right: var(--sign-out-margin-right);


}

.account-dropdown {
  margin-right: 10px ;
  display: block;
}




